/*inline css - გამოიყენება როდესაც ელემენტს ვსტილავთ style ატრიბუტის დახმარებით.

internal css - ვიყენებთ როდესაც ელემენტებს ვიყენებთ style თეგს და მასში ვსტილავთ css-ის კოდის დახმარებით ელემენტებს.

extarnal css - ვიყენებთ როდესაც ვქმნით  ცალკე ფაილს და უკვე ამ  ფაილში ვსტილავთ ელემენტებს კოდის საშუალებით.




/* დეკლარაცია არის CSS-ის ნაწილი, რომელიც განსაზღვრავს, თუ რა სტილის ჩაწერა უნდა განხორციელდეს ელემენტზე.*/
p {
  color: red;   /* ეს არის დეკლარაცია */
}






/*სელექტორი არის CSS-ის კომპონენტი, რომელიც განსაზღვრავს HTML ელემენტებს, რომლებსაც სტილი უნდა დაენიშნოს. მაგალითი: */
p {
    color: red;  /* p არის სელექტორი */
  }
  


/*element selector ეს არის CSS სელექტორი, რომელიც ამოირჩევს ყველა HTML ელემენტს, რომელიც მის სელექტორს შეესაბამება. მაგალითი: */
h1 {
    font-size: 24px;
  }
  


/*კლასის სელექტორი გამოიყენება HTML ელემენტებისთვის, რომლებსაც მიენიჭათ კონკრეტული კლასი. მაგალითი: */
.highlight {
    background-color: yellow;
  }
  

/*ID სელექტორი გამოიყენება კონკრეტული ელემენტის არჩევისთვის. მაგალითი: */
#main {
    width: 100%;
  }
  



